#home {
  background-color: #F9F1DC;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    margin-left: -25px;
    padding-left: 0px;
}
li {
    display: inline;
    padding: 0px 5px;
}
}

.header {
  margin-top: 45px;
  margin-bottom: 30px;
  position: absolute;

  h4 {
    margin-top: 20px;
    font-size: 25px;
    font-style: bolder;
  text-align: center;
  }
}


.links:hover{
  color: white;
}
.links-box{
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
}
.text-center {
  text-align: center;
}

#iri-pic {
  position: absolute;
}

#iri-pic img {
  border-radius: 4px;
  position: absolute;
  margin-top: 150px;
  margin-left: -168px;
}

.daisy {
  position: absolute;
  top: 100px;
  right: 400px;
  width: 120px;
  height: 120px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {background-color:#FFD2A5; left:0px; top:0px;}
    25%  {background-color:#FFA8B8; left:200px; top:0px;}
    50%  {background-color:#D988BC; left:400px; top:200px;}
    75%  {background-color:#FFFFC1; left:0px; top:200px;}
    100% {background-color:#FFD3AD; left:0px; top:0px;}
}
.daisy.dois {
  top: 10px;
  left: 100px;
  // filter: drop-shadow(5px 5px 5px #222);
  @keyframes example {
    0%   {background-color:#FFD2A5; bottom:0px; top:0px;}
    25%  {background-color:#FFA8B8; bottom:200px; top:0px;}
    50%  {background-color:#D988BC; bottom:400px; top:200px;}
    75%  {background-color:#FFFFC1; bottom:0px; top:200px;}
    100% {background-color:#FFD3AD; right:0px; top:0px;}
}
}
.daisy img {
  height: 100%;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: .3s ease-in-out;
}

.daisy:hover img {
  filter: grayscale(0);
}

#canvas {
  background-color: #F9F1DC;
}
