#home {
  background-color: #F9F1DC;
  color: black;
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  text-align: center;
  h5 {
    margin-top: 20px;
    font-size: 20px;
    font-style: bolder;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    margin-left: -25px;
    padding-left: 0px;
}
li {
    display: inline;
    padding: 0px 5px;
}
}

.header {
  margin-top: 35px;
  margin-bottom: 30px;
}


.links:hover{
  color: white;
}
.links-box{
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
