#home {
  background-color: #F9F1DC;
  color: black;
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  text-align: center;
  h5 {
    margin-top: 20px;
    font-size: 20px;
    font-style: bolder;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.header {
  margin-top: 35px;
  margin-bottom: 30px;
}
