---
title: Iri
---

<div id="home">
  <div class="home-content">
    <div class="header">
    <h5>Irina Oana Popa</h5>
    </div>
    <div id="iri-pic"><%= image_tag "iri.jpg" %></div>


    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
</div>
</div>
